<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.arjun.walknotifier</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/arjun/.screeny/walk_notifier.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/walknotifier.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/walknotifier.out</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
